<div class="floatThead-container footer" style="margin-right: 15px;margin-left: 15px;min-width: 1240px;">
    <div class="tfooter" id="tfooter">
        <div>
            <div style="width: 100%;" id="f_total_procesat"></div>
        </div>
    </div>
    <p style="font-size: 0.65rem;margin-bottom: 0;">v <%= versiune %> Copyright © 2022 Ansteco Ultraviolet SRL. All
        rights reserved</p>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/jquery.floatThead.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/jquery-ui-timepicker-addon.js"></script>
<script src="assets/js/xlsx.full.min.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="assets/js/FileSaver.min.js"></script>
<script src="assets/js/jsrender.min.js"></script>
<script src="assets/js/dropdown_chosen.js"></script>
<script src="assets/js/data_table.js"></script>
<script src="assets/js/md5.js"></script>
<script src="assets/js/printThis.js"></script>