<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <title>Print proces verbal difernta</title>
    <meta NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <meta NAME="AUTHOR" CONTENT="PASCU Constantin">
    <meta NAME="CREATED" CONTENT="20190506;95700000000000">
    <meta NAME="CHANGEDBY" CONTENT="catalin.pana">
    <meta NAME="CHANGED" CONTENT="20190508;122800000000000">
    <meta NAME="AppVersion" CONTENT="16.0000">
    <meta NAME="Company" CONTENT="BRD Groupe Societe Generale">
    <meta NAME="DocSecurity" CONTENT="0">
    <meta NAME="HyperlinksChanged" CONTENT="false">
    <meta NAME="LinksUpToDate" CONTENT="false">
    <meta NAME="ScaleCrop" CONTENT="false">
    <meta NAME="ShareDoc" CONTENT="false">
    <style TYPE="text/css">
        <!--
        @page {
            margin-left: 0.75in;
            margin-right: 0.75in;
            margin-top: 1in;
            margin-bottom: 1in
        }

        P {
            margin-bottom: 0.08in;
            direction: ltr;
            line-height: 100%;
            widows: 2;
            orphans: 2
        }

        P.western {
            font-family: "Times New Roman", serif;
            font-size: 12pt
        }

        P.cjk {
            font-family: "Times New Roman";
            font-size: 12pt
        }

        P.ctl {
            font-family: "Times New Roman";
            font-size: 12pt
        }

        H2 {
            margin-left: 0.5in;
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            line-height: 100%;
            widows: 2;
            orphans: 2
        }

        H2.western {
            font-size: 12pt
        }

        H2.cjk {
            font-family: "Times New Roman";
            font-size: 12pt
        }

        H2.ctl {
            font-family: "Times New Roman";
            font-size: 12pt
        }
        -->
    </style>
</head>

<BODY LANG="en-US" DIR="LTR">
    <p LANG="fr-FR" CLASS="western" style="margin-bottom: 0in">
        <bp>
    </p>
    <p LANG="fr-FR" CLASS="western" style="margin-bottom: 0in">
        <bp>
    </p>
    <p CLASS="western" style="margin-bottom: 0in">
        <img src="assets/img/model_PV_diferente_html_34affda3.jpg" NAME="Picture 1" ALIGN=BOTTOM WIDTH=216 HEIGHT=48 BORDER=0></p>
    <p LANG="fr-FR" CLASS="western" style="margin-bottom: 0in">
        <bp>
    </p>
    <p CLASS="western" style="margin-bottom: 0in"><span LANG="fr-FR"><B>DIRECTIA TRANSPORT SI GESTIUNE
                NUMERAR</B></span></p>
    <p CLASS="western" style="margin-bottom: 0in"><span LANG="fr-FR"><B>BIHARIA 67-77, metaV A2</B></span></p>
    <p CLASS="western" style="margin-bottom: 0in"><span LANG="fr-FR"><B>TEL. 021.200.8342</B></span></p>
    <p LANG="fr-FR" CLASS="western" style="margin-bottom: 0in">
        <bp>
    </p>
    <p LANG="fr-FR" CLASS="western" style="margin-left: 0.5in; margin-bottom: 0in">
        <bp>
    </p>
    <p LANG="fr-FR" CLASS="western" style="margin-left: 0.5in; margin-bottom: 0in">
        <bp><br><br>
    </p>
    <p CLASS="western" style="margin-left: 2.5in; margin-bottom: 0in">
        <font SIZE=4><span LANG="fr-FR">
            </span></font>
        <font SIZE=4><span LANG="fr-FR"><I><B>Proces verbal&nbsp;&nbsp; </B></I></span></font>
    </p>
    <p LANG="fr-FR" CLASS="western" style="margin-left: 0.5in; margin-bottom: 0in">
        <bp><br><br>
    </p>
    <p CLASS="western" style="margin-left: 0.5in; margin-bottom: 0in">
        <font SIZE=4><span LANG="fr-FR">
                Încheiat la data de {{:azi}} la casieria BRD TGN</span></font>
    </p>
    <p LANG="fr-FR" CLASS="western" style="margin-left: 0.5in; margin-bottom: 0in">
        <bp>
    </p>
    <p CLASS="western" style="margin-bottom: 0in">

    </p>
    <p CLASS="western" style="margin-left: 0.5in; text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <font SIZE=4><span LANG="fr-FR">În urma verificării depunerii de numerar din data de {{:data_p}} <br> 
        de la clientul {{:client}} în valoare de {{:suma_preluare}} lei,<br>
        s-a constatat un {{:semn}} de {{:suma_diferenta}} lei, faptic fiind {{:suma_procesare}} lei.</span></font>
    </p>
    <p LANG="fr-FR" CLASS="western"
        style="margin-left: 0.5in; text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <bp>
    </p>
    <p CLASS="western" style="margin-left: 0.5in; text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <font SIZE=4><span LANG="fr-FR">În cont s-a înregistrat suma faptică
                în valoare de {{:suma_procesare}} lei.</span></font>
    </p>
</body>

</html>