<%- include('partials/index_head.ejs')%>
    <div style="margin-top: 56px;">
        <ul class="nav nav-tabs" id="tablink">
            <li class="nav-item" data-cmd="get_from_db_dturi"><a class="nav-link active" role="tab" data-toggle="tab"
                    href="#tab-1">Tablou general</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-1">
                <div class="container" style="max-width: 2500px;padding-left: 0;padding-right: 0;">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive table-bordered text-center" style="margin-top: 10px;">
                                <table class="dt_tabel tg table table-bordered table-dark tabel_dturi" id="dt_tabel">
                                    <thead class="text-primary"
                                        style="color: rgb(235,242,250);background-color: #444444!important;">
                                        <tr class="text-center text-light">
                                            <th class="text-center text-light sort" style="width: 50px;"><span
                                                    style="color: rgb(235,242,250);"><strong>Nr.</strong><br></span><span
                                                    style="color: rgb(235,242,250);"><strong>Crt.</strong><br></span>
                                            </th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                MAC<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                cmp<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                LCD<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                Len<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                Scroll text<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                            <th class="sort" style="color: rgb(235,242,250);">&nbsp;
                                                Last scroll<i class="fa fa-sort float-right"
                                                    style="margin-top: 5px;margin-right: 6px;"></i></th>
                                        </tr>
                                        <tr class="text-center text-light" style="background-color: #d6dee7; ">
                                            <th class="text-center"><input id="fidt" type="text" class="filter"></th>
                                            <th class="text-center"><input id="fmac" type="text" class="filter"></th>
                                            <th class="text-center"><input id="fvsw" type="text" class="filter"></th>
                                            <th class="text-center"><input id="flcd" type="text" class="filter"></th>
                                            <th class="text-center"><input id="frssi" type="text" class="filter"></th>
                                            <th class="text-center"><input id="fscr" type="text" class="filter"></th>
                                            <th class="text-center"><input id="flscr" type="text" class="filter"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%- include('partials/index_footer.ejs') %>
        <script src="assets/js/comun.js"></script>
        <script src="assets/js/cautare.js"></script>
        </body>

        </html>