<head>
    <title>Ecash set time</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UWF Server</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/Lato.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Features-Blue.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dropdownchosen.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <script type="text/javascript">
        function display_c() {
            var refresh = 1000; // Refresh rate in milli seconds
            mytime = setTimeout('display_ct()', refresh)
        }
        function toISOLocal(d) {
            var z = n => (n < 10 ? '0' : '') + n;
            var off = d.getTimezoneOffset();
            var sign = off < 0 ? '+' : '-';
            off = Math.abs(off);

            return d.getFullYear() + '-' + z(d.getMonth() + 1) + '-' +
                z(d.getDate()) + 'T' + z(d.getHours()) + ':' + z(d.getMinutes()) +
                ':' + z(d.getSeconds()) + sign + z(off / 60 | 0) + z(off % 60);
        }
        function display_ct() {
            var x = new Date()
            var month = x.getMonth() + 1;
            var day = x.getDate();
            var year = x.getFullYear();
            if (month < 10) { month = '0' + month; }
            if (day < 10) { day = '0' + day; }
            var d3 = day + '-' + month + '-' + year;

            var hour = x.getHours();
            var minute = x.getMinutes();
            var second = x.getSeconds();
            if (hour < 10) { hour = '0' + hour; }
            if (minute < 10) { minute = '0' + minute; }
            if (second < 10) { second = '0' + second; }
            var h3 = hour + ':' + minute + ':' + second

            document.getElementById('t2').value = x.toLocaleString('ro-RO').replace(',', ' ');
            document.getElementById('t1').value = toISOLocal(x).split('+')[0].replace('T', ' ');
            display_c();
        }
    </script>
</head>

<body onload=display_ct();>
    <form action="/time">
        Time:<br>
        <input type="text" name="time" value="Mickey" id="t2">
        <input style="display: none;" type="text" name="Set_time" value="Mickey" id="t1">
        <input type="submit" value="Submit">
    </form>
</body>

</html>